{% extends 'base.html.twig' %}
 {% block title 'About Us | '~ parent() %}
 {% block body %}
    <h1>Fait avec &hearts; par Elfebleu9 et TDN. </h1>
   
    <p>     
        &middot; <a href="{{path('app_home')}}">Retour à la page d'accueil</a>
    </p>
    
    
 {% endblock %}