{% extends 'base.html.twig' %}
 {% block title 'Hello Paris ! ' %}
 {% block body %}
    <h1>Hello from Paris</h1>
    <p>Nous sommes le {{'now'|date('l d m Y')}}.</p>
    <p> Il est actuellement {{ 'now'|date('H:i')}}.</p>
 {% endblock %}